{
    "production": {
        "events": [{
            "function": "handler.lambda_handler",
            "event_source": {
                "arn": "arn:aws:s3:::testbucketname",
                "events": [
                    "s3:ObjectCreated:*"
                ]
            }
        }],
        "aws_region": "us-west-1",
        "profile_name": "default",
        "s3_bucket": "testbucket-pymage",
        "timeout_seconds": 30
    }
}